.app-header {
    position: sticky;
    top: 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #efefef;
    background-color: white;
}

.app-header-content {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
}
