.searchbar-container {
    padding: 2em 0;
    position: sticky;
    top: 0;
    background: white;
}
.header-searchbar {
    display: block;
    width: 100%;
    font-size: 1.15em;
    border: 1px solid #efefef;
    padding: .5em;
}
