.navbar {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}

.navbar li {
    padding: 0 1em;
}

li:last-child {
    margin-left: auto;
}

.profile-button {
    margin-left: auto;
    background-color: white;
    color: #333;
    padding: .75em 1em;
    font-size: 1em;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.35);
    outline: transparent;
    transition: all ease-in 70ms;
    border: 1px solid transparent;
  
}

.profile-button:hover  {
    box-shadow: 0 0 10px rgba(0,0,0,0.45);
    outline: transparent;
}

.profile-button:active {
    box-shadow: none;
    outline: transparent;
    border: 1px solid #dfdfdf;
}