.movies {

}

.movie {
    display: flex;
    margin-bottom: 2.5em;
    border: 1px solid #efefef;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
}

.movie-cover {
    max-width: 200px;
}

.movie-cover img {
    display: block;
}

.movie-meta {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.movie-title {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.movie-rating {
    margin-top: auto;
    align-self: flex-end;
    font-size: .75em;
    font-weight: bold;
    width: 35px;
    height: 35px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}